<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Exploration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <div class="container-fluid">

        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="row Mars_news">
          <div class="col-md-12">
            <h2><strong>Latest Mars News</strong></h2>
            <h4><strong>{{ mars.news_title }}</strong></h4>
            <p>{{ mars.news_p }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <h2><strong>Featured Mars Image</strong></h2>
            <img src="{{ mars.featured_image_url }}" alt="Mars" style="height: 500px; ">

          </div>

          <div class="col-md-4">
            <div class="panel-body" style="border: 1px solid lightgray;">
              <h4><strong>Current Weather on Mars</strong></h4>
              <p>{{ mars.mars_current_weather }}</p>
            </div>
            <br>

            <div class="col-md-12">
              <h4><strong>Mars Facts</strong></h4>
              <table border="1" class="dataframe">
                {{ mars.fact_table|safe }}
              </table>
            </div>
          </div>

          
        </div>


        <div class="row">
          <br>
          <h1 class="heading text-center"><strong>Mars Hemispheres</strong></h1>
          <hr>

          {% for img in mars.hemisphere_image_urls %}
          <div class="col-md-6">
            <div class="col-md-12" style="border: 1px solid lightgray; margin: 2% 2%">
                <img src="{{ img['img_url'] }}" alt="hemisphere" style="width: 100%;">
                <div class="caption" style="font-weight: bold; font-size: 200%; margin: 3% 3%">
                  {{ img['title'] }}
                </div>
              </div>
          </div>
          {% endfor %}


        
        </div>
    </div>



</body>